.Loading_Page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.Cart_Item
{
	display: flex;
	flex-direction: row;
    margin: 1rem;
    padding-bottom: 1rem;
}

.Cart_Item:last-child
{
    border-bottom: 0 !important;
}

.Cart_Item_Quantities
{
    align-self: center;
    margin-left: auto;
}

.Total_Price
{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1rem;
}

.Ordering_Button_Container
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
}