.Cart_Item
{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 90% 10%;
    padding: 1rem;
}

.Cart_Item:last-child
{
    border-bottom: 0 !important;
}

.Cart_Item_Quantities
{
    align-self: center;
    justify-self: end;
}

.Total_Price
{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1rem;
	padding-top: 1rem;
}

.Ordering_Button_Container
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
}