.Spinner_Container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Spinner
{
	border: 0.5rem solid #4D4D4D;
	border-top: 0.5rem solid transparent;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	animation: Spinning 1s linear infinite;
}

@keyframes Spinning 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}