.Quantity_Button
{
	background: transparent;
	border-radius: 8px;
	font-weight: bold;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.Quantity_Button:active
{
	opacity: 0.5;
}