.Card
{
	display: flex;
	flex-direction: row;
    
}

.Card_Image
{
    max-height: 10rem;
	border-radius: 0.5rem;
}

.Card_Information
{
	padding-left: 1rem;
    padding-right: 1rem;
}

.Subheader
{
	padding-top: 0.5rem;
    padding-bottom: 1rem;
}