header
{
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
    justify-content: center;
}

.Restaurant_Logo_Image
{
    height: 2rem;
}

.Standalone_Section
{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	align-items: center;
	align-content: center;
	gap: 2rem;
}

.Active_Language
{
	font-weight: bold;
}

.Language_Selector
{
	cursor: pointer;
}