header
{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
    justify-content: center;
    padding: 1rem;
}

.Restaurant_Logo_Image
{
    max-height: 2rem;
    min-height: 1.5rem;
    width: 100%;
}

.Standalone_Section
{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	align-items: center;
	align-content: center;
	gap: 2rem;
}

.Active_Language
{
	font-weight: bold;
}

.Language_Selector
{
	cursor: pointer;
}