.Banner
{
	display: flex;
	height: 10rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
}

.Title
{
	margin-top: 0;
	padding-left: 1rem;
}