.Loading_Page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.Menu
{
    padding-top: 1rem;
}

.Menu_Item
{
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.Menu_Item:first-child
{
	margin-top: 1rem;
}

.Menu_Item:not(:first-child)
{
	margin-top: 0;
}

.Menu_Item:last-child
{
	border-bottom: 0 !important;
}

.Card_Container
{
	cursor: pointer;
    display: flex;
    flex-direction: row;
}

.Card_Container:active
{
	opacity: 0.5;
}

.Arrow_Button
{
    width: 2rem;
    margin-left: auto;
    min-width: 2rem;
}

.Open_Customization_Button
{
	align-self: center;
}

.Close_Customization_Button
{
	align-self: center;
	transform: rotate(180deg);
}

.Open_Customization_Animation
{
	animation-name: Open_Customization;
	animation-duration: 375ms;
	animation-timing-function: linear;
}

.Close_Customization_Animation
{
	animation-name: Close_Customization;
	animation-duration: 375ms;
	animation-timing-function: linear;
}

@keyframes Open_Customization
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(180deg);
	}
}

@keyframes Close_Customization
{
	from
	{
		transform: rotate(180deg);
	}
	to
	{
		transform: rotate(0deg);
	}
}